.section-ratingControl
	padding-top: 70px
	&__title
		font-size: 36px
		font-family: 'Roboto Medium', sans-serif
		color: $colorDarkPrimary
		line-height: 46px
	&__wrapper
		display: flex
	&__fonds
		width: 100%
		&__list
			display: flex
			list-style: none
			&-item
				position: relative
				color: $colorMenuPassive
				padding: 20px 15px
				font-size: 14px
				&:after
					content: ''
					position: absolute
					bottom: 0
					left: 0
					height: 2px
					width: 100%
					background-color: $colorMenuActive
					transform: scaleX(0)
					transition: transform 0.5s
			&-item:hover
				color: $colorMenuActive
				cursor: pointer
				&:after
					transform: scaleX(1)
		&__panel
			height: 60px
			width: 100%
			background-color: $colorDarkPrimary
			&__list
				display: flex
				list-style: none
				&-item
					line-height: 60px
					color: $colorLight
					font-size: 16px
					fz1
				&-item:nth-child(1)
					width: 170px
					display: flex
					justify-content: center
					align-items: center
				&-item:nth-child(2)
					width: 200px
					margin-left: 24px
					display: flex
					justify-content: flex-start
					align-items: center
				&-item:nth-child(3)
					position: relative
					margin-left: 392px
				&-item:nth-child(4)
					position: relative
					margin-left: 117px
		&__elemwrap
			width: 100%
		&__element
			height: 50.5454px
			border-bottom: 1px solid $colorBorder
			border-left: 1px solid $colorBorder
			border-right: 1px solid $colorBorder
			display: flex
			justify-content: flex-start
			align-items: center
			color: $colorDarkPrimary
			font-size: 16px
			&:hover
				color: $colorCheckbox
				background: linear-gradient(270deg, #F4F7FD 34.98%, rgba(244, 247, 253, 0) 100%)
				cursor: pointer
			&-income
				width: 213px
				padding-left: 20px
				display: flex
				justify-content: flex-start
				align-items: center
				height: 100%
				border-right: 1px solid $colorBorder
				font-family: 'Open Sans Light', sans-serif
		&__name
			display: flex
			align-items: center
			height: 100%
			border-right: 1px solid $colorBorder
			&-img
				width: 170px
				display: flex
				justify-content: center
				align-items: center
				height: 100%
			&-text
				width: 570px
				margin-left: 24px
				display: flex
				justify-content: flex-start
				align-items: center
				font-family: 'Open Sans Light', sans-serif
		&__SCHA
			padding-left: 20px
			display: flex
			align-items: center
			justify-content: space-between
			height: 100%
			width: 230px
			&-text
				display: flex
				justify-content: center
				align-items: center
				height: 100%
				font-family: 'Open Sans Light', sans-serif
		&__allFonds
			width: 100%
			height: 50.5454px
			border: none
			display: flex
			justify-content: center
			align-items: center
			font-size: 14px
			color: $colorLight
			background-color: $colorCheckbox
			font-family: 'Roboto Bold', sans-serif
			&:hover
				cursor: pointer
	&__diagramms
		&__checkbox
			display: flex
			align-items: center
			height: 59px
		&__img
			max-width: 759px

.active-fonds
	color: $colorMenuActive
	&:after
		transform: scaleX(1)
.arrow-up
	position: absolute
	top: 50%
	right: -25px
	border: 5px solid transparent	
	border-top: 5px solid rgba($colorLight, 0.5)
	&:hover
		border-top: 5px solid $colorLight
		cursor: pointer
.arrow-down
	position: absolute
	top: 50%
	transform: translateY(-50%)
	right: -40px
	border: 5px solid transparent	
	border-bottom: 5px solid rgba($colorLight, 0.5)
	&:hover
		border-bottom: 5px solid $colorLight
		cursor: pointer
.active-arrow__up
	border-top: 5px solid $colorLight
.active-arrow__down
	border-bottom: 5px solid $colorLight